*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 1%;

}
nav{
    flex: 1;
    text-align: right;

}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
}
a{
    text-decoration: none;
    display: block;
    color:black;
    padding: 1em;
    font-family: sans-serif;
    font-size: 17px;
}
a:hover{
    background-color:black;
    transition: .5s;
    color: white;
    text-decoration: none;
}

.containernav{
    max-width: 1300%; 
    height: auto; /*108*/
}
.navlogo img{
    width: 50%;
    padding-left: 25px;
    padding-bottom: 10px;
}
.toggle_btn .i{
    background-color: black;
}
.navbar .toggle_btn{
    color: black;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    padding-right:10px;
}
/*Dropdown menu
.dropdown_menu{
   display: none;
    position: absolute;
    height: 0;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(82, 82, 82, 0.1);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    max-height: 270px;
    
}
.dropdown_menu li{
    display: flex;
    align-items: center;
    
    font-family: sans-serif;
    font-size: 15px;
}*/
/*Responsive Design*/
@media (max-width: 791px) {
    .containernav{
        display: none;
    }
    /*.navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }*/
}

/*Home design*/
.row{
    max-width: 1300%;
    min-height: 80%;
    background-color: whitesmoke;
}
h3{
    color: #6699cc;
    font-size: 40px;
    padding-top: 40%;
    margin-left: 50px;
    font-family: sans-serif;
    
}
h4{
    color: black;
    font-size: 40px;
    margin-left: 50px;
    font-family: sans-serif;
    margin-top: 2%;
}
.image2{ 
    float: left;
    max-width: 55%;
    height: auto;
    margin-left: 100px;
    margin-top: 50px;
    
}    
.fresh{
    font-size: 40px;
    font-family: sans-serif;
    color:#6699cc;
    margin-left:50px;
}
.btn{
    display: inline-block;
    background:#b91bed;
    color: #fff;
    padding: 8px 30px;
    margin-left: 50px;
    border-radius: 30px;
    margin-top: 5px;
    box-shadow: 0 8px 16px 0 rgba(185,27,237,0.2); 
    
}
.btn:hover{
    background: black;
    color: #fff;
}
/*About Me*/
.row-2{
    max-width: 1300%;
    min-height: 85%;
}
.about{
    color: black;
    font-size: 250%;
    margin-left: 45%;
    margin-top: 1%;
    font-family: sans-serif;
}

h6{
    float: left;
    
    color: black;
    font-size: 250%;
    margin-top: 10%; 
    padding-bottom: 5%;
    font-family: sans-serif;
}
.image-3{ 
    float: left;
    margin-top: 25px;
    margin-left: 20%;
    max-width: 50%;
    height: auto;
    border: 3px solid #fff;
    border-radius: 10px;
    
}  
  
.aboutme{
    float: right;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 1%;
    color:black;
}
.btnCV{
    float:left;
    display: inline-block;
    background:#b91bed;
    color: #fff;
    padding: 8px 30px;
    margin-bottom: 3%;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(185,27,237,0.2)   
}
.btnCV:hover{
    background: black;
}
/*Skills*/
.row-3{
    max-width: 1300%;
    min-height: 80%;
   
}
.par{
    float: right;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 10%;
    color:black;
}
.image-4{ 
    float: left;
    margin-top: 25px;
    margin-left: 20%;
    max-width: 50%;
    height: auto;
    border: 3px solid #fff;
    border-radius: 10px;
    animation: float 6s ease-in-out infinite;
}
.list ul{
    float: left;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 1%;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}  
/*My Project Design*/
.row-4{
    max-width: 1300%;
    height: auto; /*min-height: 100%;*/
}

.vital{
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 1%;
    margin-left: 50px;
}
h1{
    color: black;
    font-size: 30px;
    margin-left: 50px;
    font-family: sans-serif;
    margin-top: 10%;
}
.columnvital{
    flex: 33.33%;
    padding: 5px;
}
.rowvital1{
    margin-top: 5%;
    display: flex;
    padding: 0%;
}
.rowvital1::after {
    content: "";
    clear: both;
    display: table;
}
.zoom{
    transition: transform .2s;
  
}
.zoom:hover{
   -ms-transform: scale(1.5);
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
   width: 150%;
   height: 150%;
}
/*Project 2*/
.row-5{
    margin-top: 5%;
    max-width: 1300%;
    height: auto; /*min-height: 100%;*/
}
.row4 > .column {
    padding: 0 8px;
   
}
.row4::after{
 content: "";
 display: table;
 clear: both;
}
.column {
    float: left;
    width: 100px;
}

/* The Modal (background) */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 25%;
    left: 0;
    top: 0;
    width: 80%;
    height: auto;
    overflow: auto;
    background-color:whitesmoke;
}  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
/* The Close Button */
.close {
    color: black;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #E0b0ff;
    text-decoration: none;
    cursor: pointer;
}
  
/* Hide the slides by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #E0b0ff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  .prev:hover,
  .next:hover {
   color: white;
}
  
img {
    margin-bottom: -4px;
}

  /* Caption text */
.caption-container {
    text-align: center;
    background-color: whitesmoke;
    padding: 3px 16px;
    color: black;
    font-family: sans-serif;
    font-size: 22px;
}
  
img.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-5{ 
    float: left;
    margin-top: 100px;
    margin-left: 30%;
    max-width: 300px;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
} 
.quotes .text{
    color: red;
    margin-left: 20px;
    padding: 20px;
}
/*Footer design*/
.fheading .ntext{
    color: #fff;
    font-size: 20px;
    margin-top: 2%;
    font-family: sans-serif;
}
.ftext .ptext{
    color: #fff;
    font-size: 15px;
    margin-top: 2%;
    font-family: sans-serif;
}
.Cheading .cInfo{
    color: #fff;
    font-size: 20px;
    margin-top: 2%;
    font-family: sans-serif;
}
